BUILD_PATH=F:\PATH\TO\.BUILD
ROOTS_PATH=F:\PATH\TO\ROOTS\FOLDER
OUTPUT_PATH=F:\PATH\TO\OUTPUT\FOLDER
RESOURCES_PATH=F:\PATH\TO\OUTPUT\FOLDER\resources
DOCUSAURUS_PATH=F:\PATH\TO\OUTPUT\DOCUSAURUS_FOLDER