/* layouts style */

.x-root-class,
x-layout {
    position: absolute;
    min-height: 100%;
    overflow-x: hidden;
    top: 0px;
    left: 0px;
    --screen-height: 100dvh;
}

.x-root-class {
    width: 100%;
    display: block;
    background-color: var(--md-sys-color-surface);
    min-height: var(--screen-height);
    height: fit-content;
}

x-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--md-sys-color-surface-container);
    min-height: calc(100% - 2 * var(--safe-area));
    height: calc(100% - 2 * var(--safe-area));
    padding: var(--safe-area);
    --group-margin: max(var(--safe-area), 2%);
    --pane-border-radius: 26px;
    --rail-space: 100px;
    --top-space: 100px;
    /* default is rail */
    width: calc(100vw - 2 * var(--safe-area) - var(--rail-space));
}
[dir=ltr] x-layout {
    padding-left: calc(var(--rail-space) + var(--safe-area));
    padding-right: calc(var(--safe-area) - (100vw - 100%));
}
[dir=rtl] x-layout {
    padding-right: calc(var(--rail-space) + var(--safe-area));
    padding-left: calc(var(--safe-area) - (100vw - 100%));
}
x-layout:not([has-rail]) {
    width: calc(100vw - 2 * var(--safe-area));
}
[dir=ltr] x-layout:not([has-rail]) {
    padding-left: var(--safe-area);
}
[dir=rtl] x-layout:not([has-rail]) {
    padding-right: var(--safe-area);
}

x-layout > [slot=group] {
    --nav-width: 50px;
    width: var(--nav-width);
    height: fit-content;
    flex: 1;
    min-width: 0px;
    position: relative;
}
[dir=ltr] x-layout > [slot=group] {
    margin-left: var(--group-margin);
}
[dir=rtl] x-layout > [slot=group] {
    margin-right: var(--group-margin);
}

[dir=ltr] x-layout > :not([slot=group]) + [slot=group],
[dir=ltr] x-layout > [slot=group]:first-child {
    margin-left: 0px;
}
[dir=rtl] x-layout > :not([slot=group]) + [slot=group],
[dir=rtl] x-layout > [slot=group]:first-child {
    margin-right: 0px;
}

x-layout > [slot=group] > :first-child,
x-layout > [slot=group] > :first-child > :first-child {
    margin-top: 0px;
}

x-layout > [slot=group][style*=width],
x-layout > [slot=group][view*=static] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 360px;
}

x-layout > [slot=group][view*=sticky] {
    position: sticky;
    top: calc(-1 * var(--safe-area));
    z-index: 200;
    background-color: var(--md-sys-color-surface-container);
    border-radius: 0px 0px var(--pane-border-radius) var(--pane-border-radius);
    padding-top: var(--safe-area);
    margin-top: calc(-1 * var(--safe-area));
    outline: var(--safe-area) solid var(--md-sys-color-surface-container);
}

x-layout > [slot=nav-bar],
x-layout > [slot=nav-rail] {
    position: fixed;
    display: none;
    left: 0px;
    top: 0px;
}

@media screen and (max-width: 600px) {
    x-layout {
        --safe-area: 16px;
    }
    /* Move navigation to the bottom! */
    x-layout > [slot=nav-bar] {
        display: block;
    }
    x-layout {
        width: calc(100vw - 2 * var(--safe-area));
        display: block;
    }
    x-layout[has-bar] {
        min-height: calc(100% - 2 * var(--safe-area) - var(--top-space));
        height: calc(100% - 2 * var(--safe-area) - var(--top-space));
        padding-top: calc(var(--top-space) + var(--safe-area));
    }
    [dir=ltr] x-layout {
        padding-left: var(--safe-area);
        padding-right: calc(var(--safe-area) - (100vw - 100%));
    }
    [dir=rtl] x-layout {
        padding-right: var(--safe-area);
        padding-left: calc(var(--safe-area) - (100vw - 100%));
    }
    x-layout > [slot=group][style*=width],
    x-layout > [slot=group][view*=static] {
        min-width: 100%;
        max-width: 100%;
        display: block;;
    }
    /* Don't allow side-to-side groups */
    x-layout {
        flex-direction: column;
    }
    x-layout > [slot=group] {
        width: 100%;
        margin-bottom: var(--group-margin);
    }
    [dir=ltr] x-layout > [slot=group] {
        margin-left: 0px;
    }
    [dir=rtl] x-layout > [slot=group] {
        margin-right: 0px;
    }
}

@media screen and (min-width: 600px) and (max-width: 839px) {
    x-layout {
        --safe-area: 24px;
    }
    /* Switch to rail if only one group is present, or two elements are present */
    x-layout[has-rail][group-count='1'] > [slot=nav-rail] {
        display: block;
    }
    /* Switch to bottom bar if more than one group is present */
    x-layout:not([group-count='1']):not([view=collapse]) > [slot=nav-bar] {
        display: block;
    }
    x-layout:not([group-count='1']):not([view=collapse]) {
        width: calc(100vw - 2 * var(--safe-area));
    }
    x-layout[has-bar]:not([group-count='1']):not([view=collapse]) {
        min-height: calc(100% - 2 * var(--safe-area) - var(--top-space));
        height: calc(100% - 2 * var(--safe-area) - var(--top-space));
        padding-top: calc(var(--top-space) + var(--safe-area));
    }
    [dir=ltr] x-layout:not([group-count='1']):not([view=collapse]) {
        padding-right: calc(var(--safe-area) - (100vw - 100%));
        padding-left: var(--safe-area);
    }
    [dir=rtl] x-layout:not([group-count='1']):not([view=collapse]) {
        padding-left: calc(var(--safe-area) - (100vw - 100%));
        padding-right: var(--safe-area);
    }
    /* Switch to rail if view is set to collapse */
    x-layout[view=collapse] > [slot=nav-rail] {
        display: block;
    }
    x-layout[view=collapse]{
        display: block;
    }
    x-layout[view=collapse] > [slot=group] {
        width: 100%;
        margin-left: 0px;
        margin-bottom: var(--group-margin);
        height: fit-content;
    }
    x-layout[view=collapse] > [slot=group][style*=width],
    x-layout[view=collapse] > [slot=group][view*=static] {
        min-width: 100%;
        max-width: 100%;
    }
    /* Limit content in the 25% top of the screen! */
}  

@media screen and (min-width: 840px) and (max-width: 1199px) {
    x-layout {
        --safe-area: 24px;
    }
    /* Switch to rail navigation */
    x-layout > [slot=nav-rail] {
        display: block;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    x-layout {
        --safe-area: 24px;
    }
    /* Switch to rail navigation */
    x-layout > [slot=nav-rail] {
        display: block;
    }
    /* Be careful about space and placement! */
    /* use view=collapse if you feel screen space won't be enough! */
}

@media screen and (min-width: 1600px) {
    x-layout {
        --safe-area: 24px;
    }
    /* Switch to rail navigation */
    x-layout > [slot=nav-rail] {
        display: block;
    }
    /* Switch to drawer navigation later! */
}

/*** Navigation Bar Style ***/

x-layout > [slot=nav-bar] {
    height: 100px;
    width: 100%;
}

/*** Navigation Rail Style ***/

x-layout > [slot=nav-rail] {
    width: 100px;
    height: 100%;
}

/*** x-float style ***/
.x-layout-float {
    color: var(--md-sys-color-on-background);
    margin: var(--safe-area) 0px;
}
.x-layout-float * {
    color: var(--md-sys-color-on-background);
}

/*** x-pane style ***/
.x-layout-pane {
    border-radius: var(--pane-border-radius);
    padding: var(--pane-border-radius);
    margin: var(--safe-area) 0px;
    min-height: 40px;
    background: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}
.x-layout-pane[view=full]{
    min-height: calc(var(--screen-height) - 2 * var(--safe-area) - 2 * var(--pane-border-radius));
    height: calc(var(--screen-height) - 2 * var(--safe-area) - 2 * var(--pane-border-radius));
}
.x-layout-pane * {
    color: var(--md-sys-color-on-surface);
}

.x-layout-pane:last-child,
.x-layout-float:last-child{
    margin-bottom: 0px;
}